#page1 {
  background-image: linear-gradient(to bottom, rgba(107, 0, 190, 0.76), #31cdff);

  position: relative;
}

.pageTitle{
  position:absolute;
  width: 100%;
  color: white;
  text-align: center;
}

#page2, #page3 {
  display: block;
  position: relative;
}

#page2 {background-image: linear-gradient(to top, rgba(107, 0, 190, 0.76), #31cdff);}

#page3 {background-image: linear-gradient(to bottom, rgba(107, 0, 190, 0.76), #31cdff);}


@media only screen and (min-width: 400px) { /* modelled using desktop in Chrome */
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'oleo script', verdana;
    font-size: 13vh;
  }
  .pageTitle{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }

  #page1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) { /* modelled using iPhone SE in Chrome */
  section {font-size: 12vw;}
  .pageTitle{top: 40%;}
  
  html, body{overflow: hidden;}

  section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}